# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

client/CMakeFiles/*
client/CMakeCache.txt
client/*.cmake
client/Makefile
client/*.log
client/ConcuClient
client/*.out

server/CMakeFiles/*
server/CMakeCache.txt
server/*.cmake
server/Makefile
server/*.log
server/ConcuServer
server/*.out


.vscode/*
